[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
pandas = "*"
fake-useragent = "*"
flask = "*"
pyquery = "*"

[dev-packages]

[requires]
python_version = "3.9"
